.hero {
    padding-top: 80px;
    background: url(../images/yellow_top_wave_01.png) left top no-repeat, url(../images/Violet_top_left_wave.png) bottom no-repeat  ;
    background-size: contain;
    &__title-sub{
        font-size: 15px;
        color: $main-color;
        font-weight: 700;
    }
    &__title-main {
        font-size: 57px;
        font-weight: 700;
    }

    &__image {
        width: 100%;
    }
}