.team {
    background: url(../images/Wave_White_bottom_right_shape_01.png) bottom no-repeat, #dcd1f0;
    background-size: contain;

    .card {
        border: none;
        overflow: hidden;
        max-width: 270px;
        transition: all 0.3s ease;
    }

    .card-img-top {
        transition: all 0.3s ease;
    }

    &__country {
        font-size: 12px;
        font-weight: 700;
        color: $main-color;
        margin-bottom: 5px;
        text-align: center;
    }

    &__name {
        font-size: 24px;
        font-weight: 700;
        text-align: center;
    }

    &__item {
        display: flex;
        justify-content: center;
    }

    .card-text {
        text-align: center;
        font-size: 15px;
        line-height: 1.2;
    }

    .card:hover {
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }

    .card:hover .card-img-top {
        transform: scale(1.05);
    }

    .card-body {
        padding: 30px;
    }
}